@import url('./alice.css');

@import url('./font-awesome.min.css');
.container {
  width: 990px;
  margin: 0 auto;
}
body {
  background-color: #fff;
}
#admin .hd {
  padding: 20px 0 0px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
#admin .hd h1 {
  font-size: 14px;
  padding: 0px 30px 0px 0px;
}
#admin .content {
  margin: 10px 0;
}
#admin .footer {
  border-top: 1px dashed #efefef;
  padding-top: 10px;
  font-size: 12px;
  color: #999;
  text-align: right;
  margin-top: 30px;
}
#admin .ui-box {
  margin-bottom: 10px;
}
#admin .admin-tab {
  float: right;
  margin-bottom: -1px;
}
#admin .admin-tab li {
  margin-right: 2px;
}
.ui-form-item {
  font-size: 12px;
  padding-left: 0px;
}
.ui-form-item .ui-label {
  width: 60px;
  margin-left: 0px;
  padding-right: 20px;
}
.ui-form-item .ui-input {
  border-color: #ddd;
  border-radius: 3px;
}
.ui-form-item .ui-button {
  margin-right: 10px;
}
.ui-form-item .ui-ta {
  width: 880px;
  height: 300px;
}
.button-group {
  margin-left: 80px;
}
.posts i {
  padding-right: 10px;
}
.posts p {
  margin-bottom: 10px;
}
.posts .ui-paging {
  border-top: 1px dashed #ddd;
  padding-top: 8px;
  margin-top: 12px;
}
